{% extends 'dashboard/common/base.html' %}

<!-- == -->
{% block title %}Create New Service Type{% endblock %}

<!-- == -->
{% block main %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Create New Service Type</h2>
            <form method="POST"
                  action="{{ url_for('admin_dashboard.create_service_type') }}">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" required />
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Create</button>
              <a href="{{ url_for('admin_dashboard.home') }}"
                 class="btn btn-secondary">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
